# Quick Experiment using Jupyter widget for keplergl
At the original data jam event, I used the demo app on [kepler.gl](kepler.gl) to visualize the data. Justin Gosses shared this notebook with me that shows how to use kepler as a jupyter widget.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

Installing keplergl jupyter widget:

#### https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

Make sure your ipywidgets is up to date.... and be wary that at one point it worked on jupyter notebook but not lab

In [2]:
import ipywidgets
print(ipywidgets.__version__)

7.5.1

Now lets bringin the data created from the "cleaning" notebook

In [3]:
trips = pd.read_pickle('../cleaned_data/2018-2019_trips')

In [4]:
trips.head()

,index,TripId,UserProgramName,UserId,UserRole,UserCity,UserState,UserZip,UserCountry,MembershipType,...,TripProgramName,checkout_latitude,checkout_longitude,checkout_dock,index,return_latitude,return_longitude,return_dock,CheckoutDateTime,agg_member_type
0,1919 Runnels,17084926,Houston BCycle,1496906,Maintenance,NaN,NaN,NaN,UNITED STATES,NaN,...,Houston BCycle,29.760748,-95.347931,11.0,1919 Runnels,29.760748,-95.347931,11.0,2018-04-13 12:13:10,NaN
1,1919 Runnels,17147944,Houston BCycle,1675064,RFID Card Member,Houston,TX,77070,UNITED STATES,Monthly Membership,...,Houston BCycle,29.760748,-95.347931,11.0,1919 Runnels,29.760748,-95.347931,11.0,2018-04-21 09:31:21,NaN
2,1919 Runnels,17084672,Houston BCycle,326770,RFID Card Member,Houston,TX,77003,UNITED STATES,Annual Member,...,Houston BCycle,29.760748,-95.347931,11.0,1919 Runnels,29.760748,-95.347931,11.0,2018-04-13 11:46:17,Annual
3,1919 Runnels,17086936,Houston BCycle,1675064,RFID Card Member,Houston,TX,77070,UNITED STATES,Monthly Membership,...,Houston BCycle,29.760748,-95.347931,11.0,1919 Runnels,29.760748,-95.347931,11.0,2018-04-13 15:34:48,NaN
4,1919 Runnels,17135200,Houston BCycle,326770,RFID Card Member,Houston,TX,77003,UNITED STATES,Annual Member,...,Houston BCycle,29.760748,-95.347931,11.0,1919 Runnels,29.760748,-95.347931,11.0,2018-04-19 17:54:20,Annual

In [6]:
len(trips)

410000

In [5]:
trips.describe()

,TripId,UserId,DurationMins,AdjustedDurationMins,UsageFee,Distance,EstimatedCarbonOffset,EstimatedCaloriesBurned,checkout_latitude,checkout_longitude,checkout_dock,return_latitude,return_longitude,return_dock
count,4.100000e+05,4.100000e+05,410000.000000,410000.000000,410000.000000,410000.000000,410000.000000,410000.000000,248618.000000,248618.000000,248618.000000,245687.000000,245687.000000,245687.000000
mean,1.907346e+07,2.199226e+06,61.375724,0.286178,2.187476,5.211737,4.954168,208.074790,29.745023,-95.378978,14.225571,29.744996,-95.379039,14.228014
std,1.257936e+06,4.433191e+05,402.095336,3.953603,9.290126,4.880641,4.635812,195.225219,0.021813,0.024014,3.655961,0.021828,0.024016,3.661082
min,1.655167e+07,1.228660e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,29.691510,-95.556234,7.000000,29.691510,-95.556234,7.000000
25%,1.812189e+07,2.031848e+06,10.000000,0.000000,0.000000,1.000000,1.000000,40.000000,29.720196,-95.390396,11.000000,29.720196,-95.390396,11.000000
50%,1.925430e+07,2.320545e+06,29.000000,0.000000,0.000000,4.000000,3.800000,160.000000,29.754428,-95.376953,13.000000,29.754428,-95.377670,13.000000
75%,2.000202e+07,2.456652e+06,53.000000,0.000000,3.240000,7.700000,7.300000,306.000000,29.759766,-95.362457,15.000000,29.759766,-95.362457,15.000000
max,2.117677e+07,2.746402e+06,39728.000000,650.000000,2258.760000,137.300000,130.400000,5491.000000,29.800170,-95.324920,30.000000,29.800170,-95.324920,30.000000

The full dataframe is a little big, so for testing purposes, lets cut it down a bit in size

In [19]:
trips_short = trips[0:]

Keplergl expects latitude and Longitude to be spelled a certain way

In [20]:
trips_short["Longitude"] = trips_short["checkout_longitude"]
trips_short["Latitude"] = trips_short["checkout_latitude"]

C:\Users\Michael\Anaconda3\envs\geo\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Michael\Anaconda3\envs\geo\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [21]:
len(trips_short)

410000

In [9]:
trips_short.tail()

,index,TripId,UserProgramName,UserId,UserRole,UserCity,UserState,UserZip,UserCountry,MembershipType,...,checkout_longitude,checkout_dock,index,return_latitude,return_longitude,return_dock,CheckoutDateTime,agg_member_type,Longitude,Latitude
95,1919 Runnels,18247142,Houston BCycle,2209659,RFID Card Member,NaN,NaN,77002,UNITED STATES,Monthly Membership,...,-95.347931,11.0,1919 Runnels,29.760748,-95.347931,11.0,2018-08-14 08:55:42,NaN,-95.347931,29.760748
96,1919 Runnels,18194848,Houston BCycle,2209659,RFID Card Member,NaN,NaN,77002,UNITED STATES,Monthly Membership,...,-95.347931,11.0,1919 Runnels,29.760748,-95.347931,11.0,2018-08-08 14:30:49,NaN,-95.347931,29.760748
97,1919 Runnels,18288679,Houston BCycle,2241176,Non-RFID Card Member,NaN,NaN,NaN,UNITED STATES,Single Use Pass,...,-95.347931,11.0,1919 Runnels,29.760748,-95.347931,11.0,2018-08-19 03:40:29,Single/Day,-95.347931,29.760748
98,1919 Runnels,18392254,Houston BCycle,2260333,Non-RFID Card Member,NaN,NaN,77044,UNITED STATES,Single Use Pass,...,-95.347931,11.0,1919 Runnels,29.760748,-95.347931,11.0,2018-08-29 18:29:48,Single/Day,-95.347931,29.760748
99,1919 Runnels,18162310,Houston BCycle,2217188,Non-RFID Card Member,NaN,NaN,77044,UNITED STATES,Single Use Pass,...,-95.347931,11.0,1919 Runnels,29.760748,-95.347931,11.0,2018-08-04 20:21:00,Single/Day,-95.347931,29.760748

In [10]:
trips_short.columns

Index(['index', 'TripId', 'UserProgramName', 'UserId', 'UserRole', 'UserCity',
       'UserState', 'UserZip', 'UserCountry', 'MembershipType', 'Bike',
       'BikeType', 'ReturnKioskName', 'DurationMins', 'AdjustedDurationMins',
       'UsageFee', 'AdjustmentFlag', 'Distance', 'EstimatedCarbonOffset',
       'EstimatedCaloriesBurned', 'CheckoutDateLocal', 'ReturnDateLocal',
       'CheckoutTimeLocal', 'ReturnTimeLocal', 'TripOver30Mins',
       'LocalProgramFlag', 'TripRouteCategory', 'TripProgramName',
       'checkout_latitude', 'checkout_longitude', 'checkout_dock', 'index',
       'return_latitude', 'return_longitude', 'return_dock',
       'CheckoutDateTime', 'agg_member_type', 'Longitude', 'Latitude'],
      dtype='object')

duplicate columns with the same name confused kepler, so we had to take out those too

In [22]:
trips_short = trips_short.drop(['index'], axis=1)

In [12]:
trips_short.columns

Index(['TripId', 'UserProgramName', 'UserId', 'UserRole', 'UserCity',
       'UserState', 'UserZip', 'UserCountry', 'MembershipType', 'Bike',
       'BikeType', 'ReturnKioskName', 'DurationMins', 'AdjustedDurationMins',
       'UsageFee', 'AdjustmentFlag', 'Distance', 'EstimatedCarbonOffset',
       'EstimatedCaloriesBurned', 'CheckoutDateLocal', 'ReturnDateLocal',
       'CheckoutTimeLocal', 'ReturnTimeLocal', 'TripOver30Mins',
       'LocalProgramFlag', 'TripRouteCategory', 'TripProgramName',
       'checkout_latitude', 'checkout_longitude', 'checkout_dock',
       'return_latitude', 'return_longitude', 'return_dock',
       'CheckoutDateTime', 'agg_member_type', 'Longitude', 'Latitude'],
      dtype='object')

In [13]:
# Load an empty map
from keplergl import KeplerGl

In [23]:
map_1 = KeplerGl()

User Guide: https://github.com/keplergl/kepler.gl/blob/master/docs/keplergl-jupyter/user-guide.md

In [24]:
map_1.add_data(data=trips_short,name="data_1")

In [25]:
config = {'version': 'v1',
 'config': {'visState': {'filters': [],
   'layers': [{'type':'point','config':{'dataId':'data_1'}}],
    'filters': [{'dataId':'data_1','name':'job_title'}],
   'interactionConfig': {'tooltip': {'fieldsToShow': {'data_1':['AdjustedDurationMins','UserId','Distance','EstimatedCaloriesBurned']}, 'enabled': True},
    'brush': {'size': 4, 'enabled': False}},
   'layerBlending': 'normal',
   'splitMaps': []},
  'mapState': {'bearing': 0,
   'dragRotate': False,
   'latitude': 30.007182,
   'longitude': -95.366456,
   'pitch': 0,
   'zoom': 7.21057540104681,
   'isSplit': False},
  'mapStyle': {'styleType': 'dark',
   'topLayerGroups': {},
   'visibleLayerGroups': {'label': True,
    'road': True,
    'border': False,
    'building': True,
    'water': True,
    'land': True,
    '3d building': False},
   'threeDBuildingColor': [9.665468314072013,
    17.18305478057247,
    31.1442867897876],
   'mapStyles': {}}}}

In [26]:
map_1.config = config

NOTE: You might have to turn on the visibilty of the layers! It seems for a large number of points Kepler defaults to them not showing? I might have messed up config too?

In [27]:
map_1

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [{'dataId': 'data_1', 'name': 'job_title'â€¦

In [ ]:
### this is how you would save it as a full front-end page with all the data
### Could put up as a front-end only github pages page.
#map_1.save_to_html(data={'data_1': trips_short}, config=config, file_name='first_map.html')